<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<RunSettings>
		<!-- Parameters used by tests at runtime -->
		<TestRunParameters>
			<Parameter name="targetAppUrl" value="https://localhost:7150/" />
			<!-- browser: chrome, firefox, Edge -->
			<Parameter name="targetbrowser" value="chrome" />
		</TestRunParameters>
	</RunSettings>
</configuration>